<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{echo $title;}</title>
    <link rel="stylesheet" href="{echo CSSPATH;}app.css">
    <script language="javascript" type="text/javascript" src="{echo JSPATH;}plug/jquery-1.11.2.js"></script>
    <script language="javascript" type="text/javascript" src="{echo JSPATH;}app.js"></script>
</head>
<body>
    <div class="top">
        <a class="use_name">{echo $u_name;}</a><a>&nbsp;你好</a><input type="hidden" class="use_id" value="{echo $u_id;}">
        <a class="home" style="background-color:gray;cursor:hand;" href="/user/Home.html">用户中心</a>
    </div>
    <div class="product">
        <a><img src="{echo IMAGEPATH;}552f8ed4N6075cb01.jpg"></a>
        <a><img src="{echo IMAGEPATH;}552f8ed4N6075cb01.jpg"></a>
        <a><img src="{echo IMAGEPATH;}552f8ed4N6075cb01.jpg"></a>
        <a><img src="{echo IMAGEPATH;}552f8ed4N6075cb01.jpg"></a>
        <a><img src="{echo IMAGEPATH;}552f8ed4N6075cb01.jpg"></a>
    </div>

    <div class="account">
        <a class="account-a">结算:</a>
    </div>


    <br>

</body>
</html>